<StackLayout>
  <!-- <Image src="res://logo_login" stretch="none" horizontalAlignment="center"></Image> -->

  <Image src="res://logo2" horizontalAlignment="center">
  </Image>

  <TextField hint="Email" keyboardType="email" [(ngModel)]="user.email"
    autocorrect="false" autocapitalizationType="none"></TextField>
  <TextField hint="Mobile Number" secure="false" [(ngModel)]="user.phoneNumber"></TextField>
  <!-- <TextField hint="Business Name" secure="true" [(ngModel)]="user.password"></TextField> -->
  <TextField hint="username" secure="false" [(ngModel)]="user.userName"></TextField>
  <TextField hint="Password" secure="true" [(ngModel)]="user.password"></TextField>
  
  <!-- <Button text="GO TO SECOND" [nsRouterLink]="['/pre-signup']" class="link"></Button> -->
  <Button
  [text]="'Sign up'"
  class="submit-button"
  (tap)="submit()">
</Button>

  <Button text="GO TO SECOND"  class="link" (tap)="goBack()" ></Button>

  <page-router-outlet></page-router-outlet>
  


</StackLayout>