
<StackLayout>
 
    <Image src="res://logo2" horizontalAlignment="center">
    </Image>
    
  <StackLayout class="nav">
    <Button text="USER" class="btn btn-primary"
        [nsRouterLink]="['/user-signup']"></Button>
    <Button text="BUSINESS" class="btn btn-primary" 
        [nsRouterLink]="['/business-signup']"></Button>

    <!-- <Button text="GO TO SECOND" [nsRouterLink]="['/login']" class="link"></Button> -->
    <Button text="Go Back"  class="link" (tap)="goBack()" ></Button>

</StackLayout>




</StackLayout>