<StackLayout>
  <!-- <Image src="res://logo_login" stretch="none" horizontalAlignment="center"></Image> -->

  <Image src="res://logo2" horizontalAlignment="center">
  </Image>

  <TextField hint="Email" keyboardType="email" [(ngModel)]="user.email"
    autocorrect="false" autocapitalizationType="none"></TextField>
  <TextField hint="Mobile Number" secure="true" [(ngModel)]="user.phone"></TextField>
  <TextField hint="Business Name" secure="true" [(ngModel)]="user.password"></TextField>
  <TextField hint="username" secure="true" [(ngModel)]="user.username"></TextField>
  <TextField hint="Password" secure="true" [(ngModel)]="user.password"></TextField>

  <Button [text]="'Sign up'" class="submit-button" (tap)="submit()"></Button> -->

  <!-- <Button text="GO TO SECOND" [nsRouterLink]="['/pre-signup']" class="link"></Button> -->
  <Button text="GO TO SECOND"  class="link" (tap)="goBack()" ></Button>
  <!-- (tap)="toggleDisplay()" -->
  <page-router-outlet></page-router-outlet>
  


</StackLayout>