
  StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    background-color: white;
  }
  Image {
    margin-top: 25%;
    margin-bottom: 20;
    width: 60%;
    margin-bottom: 20px;
  }