/* Hide a bunch of things to setup the initial animations */
.form-controls, .sign-up-stack {
  opacity: 0;
}

.background {
  background-image: url("res://bg_login"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* TODO: Assigning explicit heights and applying this margin shouldn’t be necessary. */
.initial-container {
  margin-top: 170;
  
}
.initial-logo {
  horizontal-align: center;
  margin-bottom: 10;
}
.initial-label {
  color: white;
  horizontal-align: center;
  margin-bottom: 80;
}
.initial-button {
  background-color: white;
  color: #CB1D00;
  height: 45;
  width: 275;
  vertical-align: center;
}
.initial-button-label {
  horizontal-align: center;
  font-weight: bold;
}

.main-container {
  visibility: collapse;
  opacity: 0;
  margin-left: 30;
  margin-right: 30;
  /* background-color: white; */
}
.main-label {
  horizontal-align: center;
  color: black;
}

Image {
  margin-top: 5;
  margin-bottom: 20;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
TextField {
  color: black;
  placeholder-color: #ACA6A7;
}
TextField.light {
  color: #C4AFB4;
  placeholder-color: #C4AFB4;
}
.submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
}

.forgot-password-label {
  font-size: 13;
  margin-left: 20;
  margin-bottom: 45;
  color: black;
}
.sign-up-stack {
  background-color: #311217;
}
.sign-up-stack Label {
  color: white;
  text-align: center;
  font-size: 15;
}

.logo-container {
  visibility: collapse;
  horizontal-align: center;
  opacity: 0;
}

/*   StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    background-color: white;
  }
  Image {
    margin-top: 25%;
    margin-bottom: 20;
    width: 60%;
    margin-bottom: 20px;
  }

  TextField {
    margin-top: 25px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 10px;
    padding: 20px; 
  }
  Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
  }
  .submit-button {
    background-color: #2F7BBD;
    color: white;
    margin-top: 20;
  } */