


  StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    background-color: white;
  }
  Image {
    margin-top: 25%;
    margin-bottom: 20;
    width: 60%;
    margin-bottom: 20px;
  }

  TextField {
    margin-top: 25px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    /* border-width: 1px; */
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 10px;
    padding: 20px; 
  }
  Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
  }
  .submit-button {
    background-color: #CB1D00;
    color: white;
    margin-top: 20;
  }